@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Light Mode */
  --background-rgb: 245, 245, 247; /* apple-bg-light */
  --foreground-rgb: 29, 29, 31;   /* apple-text-light */
  --accent-rgb: 0, 122, 255;      /* apple-accent-light */
  --card-rgb: 255, 255, 255;      /* apple-card-light */
  --border-rgb: 210, 210, 215;    /* apple-border-light */
}

.dark {
  /* Dark Mode */
  --background-rgb: 27, 27, 27;   /* apple-bg-dark */
  --foreground-rgb: 245, 245, 247; /* apple-text-dark */
  --accent-rgb: 41, 151, 255;     /* apple-accent-dark */
  --card-rgb: 44, 44, 46;         /* apple-card-dark */
  --border-rgb: 58, 58, 60;       /* apple-border-dark */
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
